<h3>Games</h3>
<!-- <li class="actiave"> -->
<ul class="nav nav-sidebar">
    <li ng-repeat="game in gamesCtrl.games">
        <a href="/game-info/1" ng-bind="game.title"></a>
    </li>
</ul>

<!-- <div class="container">
    <div class="col-md-3 col-xs-3 ">
        <h2>Lista gier</h2>
        <nav>

        </nav>

    </div>
    <div class="col-md-9">
        <span ng-bind="game.version"></span>
        <img ng-src="{{game.icon_url}}" />
        <p ng-bind="game.description"></p>
        <img ng-src="{{game.screenshot_url}}" />
        <input class="btn btn-primary" type="button" value="Remove Game" ng-click="gamesCtrl.removeGame(game.id)"></input>
        <input type="button" value="Edit Game" ng-click="gamesCtrl.editGame(game.id)"></input>
    </div>
</div> -->