<div ng-show="!form.submitted" class="form-container">
    <div class="field form-group row">
        <h1>Edit game</h1>
        <!-- <div class="span4 ng-binding">1</div> -->
    </div>
    <form name="myForm" id="myForm" class="ng-pristine ng-invalid ng-invalid-required">
        <!-- ngRepeat: field in form.form_fields -->
        <div class="ng-scope">

            <div class="field form-group row ng-scope">
                <label>Title</labelv>
                    <input type="text" class="form-control" ng-model="form.title" />
            </div>

            <div class="field form-group row ng-scope">
                <label>Version</label>
                <input type="text" class="form-control" ng-model="form.version" />
            </div>

            <div class="field form-group row ng-scope">
                <label>Description</label>
                <input type="text" class="form-control" ng-model="form.description" />
            </div>

            <div class="field form-group row ng-scope">
                <label>Screenshot</label>
                <img class="game-icon" ng-src="{{form.screenshot}}"/>
                <input type="file" base-sixty-four-input ng-model="form.screenshot_new" />
            </div>

            <div class="field form-group row ng-scope">
                <label>Icon</label>
                <img class="game-icon" ng-src="{{form.icon}}"/>
                <input type="file" base-sixty-four-input ng-model="form.icon_new" />
            </div>

    </form>


    <div class="form-actions">
        <p class="text-center">
            <button class="btn btn-success right" type="button" ng-disabled="!myForm.$valid" ng-click="gamesEditCtrl.updateGame()" disabled="disabled">
                <i class="icon-edit icon-white"></i> Submit Form</button>
        </p>
    </div>
    </div>