<div class="chat" id="chat" style="color: #000;position: fixed;bottom: 0;right: 1em;background-color: #6ab4f3;padding: 0 0 0.5em 0;">
  <div class="header" id="chat-header" style="color: #1f1f1f;
      cursor: pointer;
      font-size: 20px;
      float: inherit;">x</div>
  <div style="
      padding: 1em 0 1em 0;
  ">
    <div id="content" style="
    width: 300px;
    height: 250px;
    /* margin: 0 0 20px 0;*/
    /* border: solid 1px #999;*/
    padding: 1em;
    overflow-y: scroll;
    background-color: #6ab4f3;"></div>
  </div>


  <input id="message" style="width: 90%;border: none;height: 2.5em;padding: 0.25em;margin: 0 1em;">
  <button id="send" type="button" value="send" style="float: right;
      margin-top: 1em;
      border-radius: 4px;
      outline: none;
      border: 2px solid #6ab4f3;
      color: #fff;
      background-color: #4196de;
      margin-right: 1em;
      font-weight: bold;
      font-size: 1.25em;
      padding: 0.25em 1.25em;">SEND</button>
</div>
